  @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');


:root{
    /* Primary */
--Bright-orange: #e38826;
--Dark-cyan: #006970;
--Very-dark-cyan: #004241;

    /* Neutral */

--Transparent-white: #ffffffbf;/*paragraphs*/
--Very-light-gray: #f2f2f2; /* background, headings, buttons*/
    /* Typography */
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Big Shoulders Display', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
main{
    width: 340px;
    height: auto;
    margin: 50px auto;
}
article{
    height: 480px;
    padding: 0 3rem;
}
article img{
    margin-block-start: 3rem;
}
article h1{
    color: var(--Transparent-white);
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 4rem;
    margin-block-start: 3rem;
    
}
article p{
    font-size: 1.5rem;
    color: var(--Transparent-white);
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
    margin-block-start: 3rem;
    padding-inline-end: 5rem;
    line-height: 3rem;
}
article button{
    margin-block-start: 3rem;
    border-radius: 2rem;
    width: 150px;
    padding: 2rem;
    font-size: 1.5rem;
    border: none;
    font-weight: 500;
    background: var(--Very-light-gray);
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;
}
article:nth-child(1){
    background: var(--Bright-orange);
    border-radius: 1rem 1rem 0 0;
}
article:nth-child(1) button{
    color: var(--Bright-orange);
}

article:nth-child(2){
    background: var(--Dark-cyan);
}
article:nth-child(2) button{
    color: var(--Dark-cyan);
}

article:nth-child(3){
    background: var(--Very-dark-cyan);
    border-radius: 0 0 1rem 1rem;
}
article:nth-child(3) button{
    color: var(--Very-dark-cyan);
}
article button:hover{
    background: transparent;
    color: var(--Transparent-white);
    border: 2px solid var(--Transparent-white);
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

@media (min-width: 768px){
    body{
        display: grid;
        width: 100%;
        height: 100vh;
        align-content: center;
        justify-items: center;
    }
    main{
        display: flex;
        width: 990px;
    }
    article:nth-child(1){
        border-radius: 1rem 0 0 1rem;
    }
    article:nth-child(3){
        border-radius: 0 1rem 1rem 0;
    }
}